:root {
    --pink: magenta;
    --darkGrey: rgb(66, 64, 64);
    --padding: 15px;
    --borderRadius: 10px;
}

body {
    background-color: var(--darkGrey);
    color: white;
    font-size: 20px;
    line-height: 32px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

header {
    text-align: center;
}

.page-title {
    color: var(--pink);
    font-size: 65px;
    margin: 25px 0;
    line-height: 65px;
}

header p {
    margin: 0 auto 50px;
    max-width: 960px;
}

.row {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.justify-center {
    justify-content: center;
}

.card-column {
    width: 31%;
    margin-bottom: 65px;
}

.card {
    border: 2px dashed white;
    padding: 20px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card h2, .card p {
    color: var(--pink);
}

.card h2 {
    border: 2px solid white;
    font-size: 38px;
    padding: var(--padding);
    border-radius: var(--borderRadius);
    position: absolute;
    top: -33px;
    background: var(--darkGrey);
    /* width: 80%; */
}

.card p {
    margin-top: 45px;
}

.code-block {
    flex: 1;
    background: linear-gradient(rgb(147, 5, 147), var(--pink));
    padding: var(--padding);
    border-radius: var(--borderRadius);
    white-space: pre-wrap;

}

@media (max-width:1400px){
    .card-column {
        width: 48%;
    }
}

@media (max-width: 930px) {
    .card-column {
        width: 100%;
    }
}